.admin ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100%;
    overflow: auto;
}

.admin ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.admin ul li a.active {
    background-color: #fea200;
    color: white;
}

.admin ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.action-column {
    width: 120px;
}

.action-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.filters {
    margin: 5px -10px;
}
.filters .col-md-12 {
    background-color: #fff;
    margin-left: 10px;
}

.sidebar-scroll {
    border: 1px solid #d2c5c59c;
    height: 384px;
    background: #fff;
}

@media (min-width: 992px) {
    .filters .col-md-4 {
        width: 24% !important;
    }
}

.manage-title {
    display: flex;
    justify-content: space-between;
}

.manage-title h3 {
    font-size: 160%;
    font-weight: bold;
    margin-bottom: 0px !important;
}

.add-new {
    margin-top: 15px;
    height: 30px;
}

.import-button {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .button-warning */

.button-warning {
    color: #fff !important;
}
.table a:visited {
    color: #fff !important;
}
/* 
.button-warning:hover {
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;
    color: #212529 !important;
} */

.des-name {
    width: 15%;
}

.des-addr {
    width: 30%;
}
.formm {
    margin-top: 30px;
}
.manage-title {
    margin-bottom: 30px !important;
}

.formm .row {
    margin-left: -15px;
    margin-bottom: 10px;
}

.input-group {
    display: initial !important;
}

.des-name {
    width: 15%;
}
.des-addr {
    width: 30%;
}
.des-time {
    width: 15%;
}
.des-blog {
    width: 10%;
}
.des-action {
    width: 30%;
}

.post-no {
    width: 10%;
}

.post-name {
    width: 20%;
}

.post-title {
    width: 40%;
}

.post-display {
    width: 10%;
}
/* 
#picture__input {
    display: none;
}

#cover_picture__input {
    display: none;
}
*/
.picture {
    width: 400px;
    /* aspect-ratio: 16/9;
    background: #ddd; */
    display: flex;
    align-items: center;
    /* justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor; */
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.cover-picture {
    width: auto !important;
    aspect-ratio: 16/9;
}

/* .picture:hover {
    color: #777;
    background: #ccc;
} */
/* 
.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

.picture__img {
    max-width: 100%;
}
.update-user-container {
    margin-bottom: 15px;
}
.user-form .select2 {
    width: 100% !important;
}
#blade-container {
    margin-bottom: 15px;
}
