.blog-header {
    font-size: 16px;
}

.blog-header h1 {
    text-align: center !important;
    color: #000 !important;
    margin-top: 30px !important;
}

.blog-header .last_update {
    text-align: right !important;
}

.blog-header p {
    text-align: left;
}

.blog-header h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
}

.blog-header ul,
li {
    text-align: left;
}

.blog-header div {
    text-align: left;
}

.blog-header ul {
    margin-left: 15px;
}
