@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400;700&display=swap");
/* Typography */
/* body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
} */
h1,
h2,
h3 {
    font-weight: bold;
}
h2::after {
    content: "";
    display: block;
    width: 3em;
    height: 0;
    background-color: #fff !important;
    margin: 0.5em 0;
}
h1 {
    font-size: 2rem;
    margin: 0;
}
a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

/* strong {
    font-weight: 700;
}
.subtitle {
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0;
    color: #1792d2;
    letter-spacing: 0.05em;
    font-family: "Ubuntu Bold", sans-serif;
}
.article-title {
    font-size: 1.5rem;
}

header {
    text-align: center;
    background: #f0f8ff;
    font-family: sans-serif;
    margin-bottom: 3em;
} */

.article-read-more,
.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}
.article-info {
    margin: 10px 0px;
}
.article-recent .article-title {
    text-align: left;
    font-size: 20px;
    margin: 0px;
}
.article-featured .article-read-more {
    font-size: 16px;
}
.container-flex {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: #fff;
}

.article-image {
    height: 220px;
    width: 330px;
    margin: auto;
    max-width: 100%;
    display: block;
}

.feature-image {
    height: auto;
    max-height: 360px;
    width: auto;
    margin: auto;
    max-width: 100%;
    display: block;
}
main {
    max-width: 75%;
    padding: 0px 15px 0px 0px;
}
.article-body {
    width: 100%;
    text-align: justify;
    font-size: initial;
}
@media (max-width: 1050px) {
    .container-flex {
        flex-direction: column;
    }
    .site-title,
    .subtitle {
        width: 100%;
    }
    main {
        max-width: 100%;
    }
    .sidebar {
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav li {
        margin: 0.5em 0;
    }
}

/* articles */
.article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
    font-size: 16px;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    font-size: 14px;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 68%;
    }

    .article-recent-secondary {
        width: 30%;
    }
}

.info_block {
    display: flex;
    gap: 6px;
    margin-bottom: 1em;
}

:root {
    /* Colors: */
    --bg: #16181d;
    --accent: #5686f5;
    --accent-10: #5686f510;
    --emphasis: #e8e8fd;
    --text: #98a0b3;
    /* Typography */
    --h1: 2.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --paragraph: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
    --info-text: 1rem;
    --text-width-wide: 70ch;
    --text-width-medium: 60ch;
    --fw-bold: 700;
    --fw-regular: 500;
    --fw-light: 300;
    /* Spacing */
    --spacing-xxs: 0.5em;
    --spacing-xs: 1em;
    --spacing-s: 1.5em;
    --spacing-m: 3em;
    --spacing-l: 6em;
    --spacing-xl: 8em;
    /* Misc */
    --radius-xs: 0.25em;
    --radius-s: 0.5em;
    --center-it: auto;
}

.info {
    font-size: var(--info-text);
    color: var(--text);
}

.likes,
.replies,
.mentions {
    font-size: var(--info-text);
    color: var(--accent);
}

.last_update {
    display: inline-block;
    background-color: var(--accent-10);
    color: var(--accent);
    font-size: var(--info-text);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--radius-s);
}

.gastronomy-content {
    margin-bottom: 10px;
}

.desination-content {
    margin-bottom: 10px;
}