.heading-btn-group a {
	display: inline-block;
	width: 70px;
	height: 60px;
	margin-left: 10px;
	border-radius: 5px;
}

.heading-btn-group a:hover{
	background-color: #d9d9d9;
	transition-delay: 0.15s;
}

.heading-btn-group a i {
	font-size: 40px;
	margin: 0 auto;
	display: block;
	padding-top: 2px;

}
.heading-btn-group a span {
	color: black;
	display: block;
}