/* ------ LINKS ------ */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */

header {
    /* lam mo */
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),url(img/hero.jpg);*/
    background-image: linear-gradient(
            to top,
            rgb(255 255 255 / 40%),
            rgb(0 0 0 / 50%)
        ),
        url(../../image/header_3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
button {
    border-radius: 0px !important;
    height: 32px !important;
}

.hero-text-box {
    position: absolute;
    width: 1000px;
    top: 40%;
    left: 50%;
    text-align: center;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    font-size: 6em;
    font-weight: bold;
}
.hero-text-box p {
    font-size: 200%;
}

/* Plan text box */
.plan-text-box {
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 118px;
    /*    left: 50%;*/
    /*    text-align: center;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.plan-text-box label {
    color: red;
}

.plan-text-box .row {
    height: 45px;
    margin-top: 36px;
}
.multiselect-native-select .btn-group {
    display: block !important;
}
.multiselect-native-select .btn-group button {
    height: 44px;
}

/*.duration-div ul {
    margin-top: -136px !important;
    overflow-y: hidden !important;
}*/
.interested-div {
    height: 100% !important;
}
.interested-div .dropdown-menu li {
    /*background-color: wh;*/
    display: inline-block !important;
}
.interested-div .dropdown-menu li:hover {
    /*background-color: wh;*/
    /*background-color: white !important;*/
}
.interested-div .dropdown-menu li a {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.interested-div .dropdown-menu li a span {
    margin-right: 0px !important;
}
.interested-div .dropdown-menu li a .text .badge {
    border-radius: 3px !important;
}
.interested-div .dropdown {
    width: 100% !important;
    height: 100% !important;
}
.interested-div button {
    height: 100% !important;
}
.interested-div .badge {
    border-radius: 3px !important;
}
.dropdown-menu > li > a .text .badge {
    background-color: #999 !important;
}
/*duration div*/
.duration-div {
    height: 100% !important;
}

.duration-div .dropdown {
    width: 100% !important;
    height: 100% !important;
}
.duration-div button {
    height: 100% !important;
}
.btn {
    /*font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 3px;
    text-align: left!important;*/
    font-size: 18px;
    padding-top: 10px;
    /*    font-weight: 800;*/
}
.btn-plan {
    height: 100%;
    width: 15%;
    background-color: #fb6a09;
    cursor: pointer;
}
.btn-plan a {
    /*margin-top: 20px !important;*/
    margin-left: 20px;
    position: absolute;
    top: 10px;
}
.planning span {
    color: white;
    font-size: 18px;
}
.btn-plan a:link,
.planning a:visited {
    color: white;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 0px solid #e67e22;
}
.center {
    /*margin: auto;
    width: 50%;
*/
}

/*SECTION WORK*/
.section-work {
    background-color: #fea200;
    padding-top: 30px;
    padding-bottom: 50px;
}
.content-howitwork {
    text-align: center;
}
.icon-section-work {
    margin-top: 10px;
}
.icon-section-work img {
    vertical-align: middle;
}
.title-section-work {
    color: #000;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 800;
    margin-bottom: 10px;
}
.title-section-work span {
    position: relative;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    margin-right: 10px;
    background: #fff;
    border-radius: 50%;
    font-size: 17px;
}
.content-section-work {
    color: rgba(0, 0, 0, 0.85);
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-size: 120%;
}
/*SECTION TITLE*/
section .row h2 {
    font-size: 330%;
    font-weight: bold;
}
/*SECTION TOP DESTINATION*/
.section-top-destination {
    background-color: #fff;
}
.section-top-destination .row h2 {
}
.grid-destination {
    text-align: center;
    height: auto;
}
.grid-destination .grid-item {
    margin-bottom: 15px;
    position: relative;
    font-size: 14px;
    word-spacing: normal;
    text-align: center;
    cursor: default;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 5px;
    background: #000;
    display: flex;
}
.grid-destination .grid-item a img {
    position: absolute;
    left: 50%;
    top: 50%;
    /*min-height: 90%;*/
    width: 100%;
    /*min-width: 90%;*/
    border-radius: 5px;
    /*-webkit-transform: translate(-50%,-50%);*/
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.grid-destination .grid-item a img:hover {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.grid-destination .grid-item .grid-intro {
    color: #fff;
    text-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    list-style: none;
    margin: 130px auto;
    display: flex;
    align-items: center;
}
.grid-destination .grid-item .grid-intro p {
    margin: 0 0 8px;
    padding: 0 5px;
    font-size: 250%;
    color: #fff;
    font-weight: 500;
    line-height: 1.8;
    text-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.col-small a img {
    height: 100%;
}

/*SECTION TOP ITINERARY*/
.section-top-itinerary {
    background-color: #f5f5f5;
}
