body {
    color: #000;
    min-height: 100vh;

}
.breadcrumb {
    padding: 8px 0px 8px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb ol li {
    font-size: 130%;
}
/**/
.tour-info {
    background-color: white;

}
.tour-info label {
    color: #0063B1!important;
}
.modal label {
    color: #0063B1;
}
.modal .col-md-2 {
    width: 13.666667%;
}
.modal .col-md-1 {
    width: 11.333333%;
}
/*EDIT*/
.tour-item-edit.tour-item-edit-header {
    padding-top: 0;
}
.tour-item-edit {
    padding: 25px 25px 0px 25px;
    padding-right: 0px;
    margin-left: 37.5px;
    border-left: 2px solid #eee;
}
.tour-item-edit.tour-item-edit-header>.tour-item-timeline {
    position: relative;
}
/**/
.tour-item-edit.tour-item-edit-header>.tour-item-timeline>.tour-item-timeline-header {
    height: 50px;
    padding-top: 10px;
    position: relative;
    padding-left: 23px;
    margin-left: -64.5px;
    background: #2196F3;
    color: #fff;
    border-radius: 3px!important;
}
.tour-item-edit.tour-item-edit-header>.tour-item-timeline>.tour-item-timeline-header>.tour-item-timeline-icon,
.tour-item-edit.tour-item-edit-header>.tour-item-timeline>.tour-item-timeline-header>.tour-item-timeline-title {
    left: 0;
    position: relative;
}
.tour-item-edit .tour-item-timeline-title {
    padding: 0 10px;
    background: none !important;
    font-size: 16px;
}
.tour-item-timeline-title {
    top: -8px;
    font-size: 12px;
    background: #eee;
    padding: 4px 15px;
    font-weight: bold;
    display: inline-block;
    border-radius: 8px!important;
}
.tour-item-timeline-icon {
    width: 16px;
    height: 31px;
    font-size: 16px;
    padding: 0px 7px;
    background: #FF9800;
    line-height: 29px;
    border-radius: 100px!important;
    display: inline-block;
    color: #fff;
    padding-left: 8px;
}
/**/
.tour-item-timeline-body {
    margin-top: 10px;
}
.tour-item-edit.tour-item-edit-header>.tour-item-timeline>.tour-item-timeline-body>ul {
    border: none;
    margin-bottom: 0;
}
.tour-item-timeline-body>ul {
    padding: 0;
    list-style-type: none;
    margin-top: 12.5px;
}
.lst-date-item {
    min-height: 40px;
}
.lst-date-item li {
    display: inline-block;
    width: 100%;
    cursor: move;
}
.place-tour-img {
    float: left;
}
.place-tour-img img {
    width: 100px;
    height: 90px;
    border-radius: 3px!important;
    margin-right: 10px;
}
.place-tour-info {
    line-height: 20px;
    position: relative;
    float: right;
    display: inline-block;
    width: calc(100% - 110px);
    height: 90px;
}
.place-tour-info .name {
    color: #0063B1;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.place-tour-info-time {
    margin-top: -5px;
}
.place-tour-info .time_o {
    margin-top: 5px;
    font-size: 13px;
    color: #0A2D49;
}
.place-tour-info .time_o div ion-icon {
    font-size: 16px;
    padding-top: 4px;
}
.place-tour-info .time_o div p {
    padding-top: 2px;
    margin-left: 4px;
    margin-bottom: 0px;
}
.tour-item-timeline-body>ul>li:before {
    left: -32px;
    content: ' ';
    margin-top: 8px;
    position: absolute;
    border-radius: 100px!important;
    border: 6px solid #888999;
    box-shadow: 0px 0px 0px 6px #FFF;
}
.lst-date-item li .change-time {
    width: 56px;
    background: #00B7C3;
    color: #fff;
    border: 0;
    text-align: center;
    border-radius: 2px!important;
    font-size: 13px;
    padding: 0 2px;
    position: absolute;
    bottom: 0;
}
.time-error {
    position: absolute;
    left: 60px;
    bottom: 0;
    font-size: 12px;
    color: red;
}
.place-tour-action {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 8px;
    background: #F34336;
    color: #fff;
    border-radius: 3px!important;
}
.calculater-route-info {
    display: inline-block;
    width: 100%;
    padding: 7px 0px 3px 0px;
}
.calculater-route-info > * {
    color: #FF9800;
    font-size: 1.1em;
}
/**/
.list-attraction-bar {
    width: 32.33% !important;

}
.list-attraction-bar-sticky {
    width: 27.53% !important;
    position: fixed;
    left: 64%;
    top: 10px;
}
#search-place-tour ul {
    margin: 5px 5px;

}
#search-place-tour ul li{
    width: 24.5%;
}
#search-place-tour ul li a{
    padding: 5px 10px;
    text-align: center;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.filter-search {
    margin: 5px 5px;
}
#search-place-tour .input-findname {
    border-top-left-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
    border: 1px solid #FF9800!important;
    height: 34px;
    font-size: 14px;
}
#search-place-tour .btn-search {
    border: 0;
    left: -2px;
    position: relative;
    height: 34px;
    background: #FF9800!important;
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
    color: #fff;
    font-weight: bold!important;
}
#search-place-tour .btn-search ion-icon {
    margin-top: 4px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
/*tab pane*/
.tab-content {
    margin: 5px 5px;
}
 .lst-item-form {
    height: 350px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 20px;
}
.lst-item-form .place-tour-edit {
    margin-bottom: 12px;
    display: inline-block;
    cursor: move;
    width: 100%;
}
.place-tour-img {
    float: left;
}
.place-tour-info {
    line-height: 20px;
    position: relative;
    float: right;
    display: inline-block;
    width: calc(100% - 110px);
    height: 90px;
}
/**/
.mt-10 {
    margin-top: 10px;
}
.bg-white {
    background-color: white;
}
.mg-b-0 {
    margin-bottom: 0!important;
}
.mg-l-10 {
    margin-left: 10px;
}
/*BUTTON CUSTOM*/
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.custom-tour {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}