.thumbnail {
    text-align: center;
    padding: 0;
    color: #42454e;
    text-shadow: 0 0 0 transparent;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 0 #e8e7e5;
    border: 0;
    /**/
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}
.thumbnail .thumbnail-img {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.thumbnail a {
    text-decoration: none;
    border-bottom: none;
}
.thumbnail .thumbnail-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}
.thumbnail .thumbnail-body {
    text-align: left;
}
.thumbnail .thumbnail-body .caption {
    position: relative;
    padding: 9px;
    padding-bottom: 30px;

    color: #333;
}
.thumbnail a.prop-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    color: #099ec9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thumbnail .thumbnail-body .caption .rating {
    padding: 0;
    float: left;
}
.sprite {
    background: url(https://www.justgola.com/static/images/new-sprites.png) no-repeat top left;
    width: 32px;
    height: 32px;
    position: relative;
    top: 7px;
    display: inline-block;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sprite.star-ora {
    background-position: -482px 0;
    height: 13px;
    width: 14px;
    top: 0;
}
.sprite.star {
    background-position: -454px 0;
    height: 13px;
    width: 14px;
    top: 0;
}
.sprite.eye {
    background-position: -426px 0;
    margin-right: 5px;
    height: 12px;
    width: 18px;
    top: 0;
}
.sprite.download {
    background-position: -398px 0;
    margin-left: 5px;
    height: 12px;
    width: 18px;
    top: 0;
}
.tl-right {
    text-align: right;
}
.col-nopadding {
    padding-left: 0;
    padding-right: 0;
}
.pull-right {
    float: right!important;
}
.thumbnail .feature-list {
    padding: 3px 9px 0px;
    border-top: 1px solid #f2f0ee;
    margin-bottom: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.thumbnail .feature-list li {
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    line-height: 12px;
    font-size: 14px;
    font-weight: 700;
}
.thumbnail .feature-list li:first-child {
    border-left: 0;
}
.thumbnail .link-action a {
    font-size: 13px;
    padding-left: 0px;
    margin-top: 15px;
    font-weight: 700;
    color: #fb6a09;
    display: block;
    height: 40px;
}
