.breadcrumb {
    padding: 8px 0px 8px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb ol li {
    font-size: 130%;
}
/*SIDE BAR*/
#sidebar-scroll,
#sidebar_scroll_tour {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.filters .col-md-4 {
    width: 25% !important;
}
.filters .item-filter {
    background: #fff;
}
.filters .item-filter .service {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.filters .item-filter .filter-title {
    position: relative;
    z-index: 1;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    height: 36px;
    line-height: 36px;
    width: 90%;
    padding: 0 10px 0 13px !important;
}
.main-title-custom {
    padding: 0;
    background-color: #fff;
    color: #3d566e;
}
/*ITEM FILTER*/
.filters .item-filter fieldset {
    padding: 0em 1em 0 !important;
}
.option-interest label {
    font-size: 14px;
}
/*ITINERARY LIST*/
.filters .col-md-12 {
    width: 75% !important;
}
.filters .col-md-5 {
    width: 33.33333333% !important;
}
