body {
    color: #000;
}
.breadcrumb {
    padding: 8px 0px 8px 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb ol li {
    font-size: 130%;
}
/*SETTING*/
.col-md-11 {
    width: 68.75%;
}
.col-md-5 {
    width: 31.25%;
}
/*TOUR ITEM DETAIL*/
/*SIDE BAR*/
/*tour qc*/
.tour-qc-box .qc-box-title {
    font-size: 18px !important;
}
.tour-qc-box {
    background: #fff;
    padding: 15px;
    border-radius: 3px !important;
    margin: 0px 10px 20px 0px;
}
.tour-qc-box ul {
    list-style: none;
    padding: 0;
}
/*fix-top*/
.side-bar-info .fix-suport-css {
    position: fixed !important;
    top: 10px;
}
.side-bar-info .fix-css #tour-support {
}
/*STICKY*/
.tour-support-sticky {
    position: fixed;
    top: 10px;
    width: 316px;
    height: 156px;
}
.sidemenu-tour-sticky {
    position: fixed;
    top: 168px;
    margin-top: 20px;
    width: 316px;
}
/**/
.lst-qc-box li {
    padding: 10px 0px 5px 45px;
    position: relative;
}
.lst-qc-box li ion-icon {
    position: absolute;
    font-size: 1em;
    color: #fdb714;
    left: 0;
    top: 12px;
    border: 2px solid;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.5em;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
}
.lst-qc-box li h5 {
    color: #fdb714 !important;
    margin: 0 !important;
}
.lst-qc-box li p {
    margin-bottom: 0 !important;
    line-height: 20px;
    padding-top: 5px;
}
/*contact support*/
.tour-qc-box .contact-details .contact-phone {
    font-size: 1.6667em;
    color: #01b7f2;
}
.tour-qc-box .contact-details .contact-phone ion-icon {
    color: #fdb714;
    padding-right: 10px;
}
/*sidebar menu*/

element.style {
    position: fixed;
    top: 160px;
    margin-top: 30px;
    width: 345.625px;
}
#sidemenu-tour {
    background: #fff;
    padding: 15px;
    border-radius: 3px !important;
    margin-bottom: 20px;
    margin-right: 10px;
}
#sidemenu-tour ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
}
#sidemenu-tour ul li {
    display: inline-block;
    width: 100%;
    padding: 9px 5px;
    border-radius: 3px !important;
    height: 37px;
}
#sidemenu-tour ul li a {
    display: inline-block;
    width: 100%;
}
#sidemenu-tour ul li span {
    color: #00b7c3;
}
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}
#sidemenu-tour ul li span ion-icon {
    width: 17px;
    display: inline-block;
}
#sidemenu-tour ul li span.fright {
    line-height: 20px;
    padding: 0 5px;
    border-radius: 3px !important;
}
#sidemenu-tour ul li.selected {
    background: #98ce44;
}
#sidemenu-tour ul li.selected span {
    color: #fff;
    font-weight: 400;
}

/*TOUR HEADER*/
#tour-detail-info-top {
    background: #fff;
    border-radius: 3px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .col-md-16 {
        width: 100%;
    }
    .col-md-6 {
        width: 37.5%;
    }
    .col-md-10 {
        width: 62.5%;
    }
    .col-xs-16 {
        width: 100%;
    }
}
.top-panel h3 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 15px !important;
}
.top-panel .tour-name {
    padding: 0 5px;
    color: #fdb714;
}
.top-panel .img-tour img {
    border-radius: 3px !important;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
/*list info*/
.lst-info-tour li {
    width: 100%;
    float: left;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.lst-info-tour li {
    padding-bottom: 10px !important;
}
.tour_comments_container {
    background: #f7f7f7;
    padding: 10px 15px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
    border-top: 1px solid #ddd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/*tour detail date*/
.tour-date-item {
    display: inline-block;
    width: 100%;
}
.tour-date-item .item-title {
    padding: 10px;
    background: #00b294;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

.tour-date-item .item-title .number-place {
    background: #fdb714;
    margin-top: 2px;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
}
.item-map {
    width: 100%;
    height: 300px;
}
.tour-date-item .item-tour-info {
    margin-top: 20px;
    display: inline-block;
    background: #f7f7f7;
    padding-bottom: 10px;
    width: 100%;
}
.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.timeline:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #ffb900;
    left: 15%;
    margin-left: -2.5px;
}
.timeline > li {
    position: relative;
    min-height: 50px;
    padding: 2px 10px;
}
.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 10%;
    text-align: right;
    padding-top: 7px;
}
.timeline .timeline-time .time {
    line-height: 28px;
    font-size: 24px;
    color: #212121;
}
.timeline .timeline-icon {
    left: 10%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 5px;
}
.timeline .timeline-icon a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;

    background: #00b7c3;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #ffb900;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    cursor: pointer;
}
.timeline .timeline-icon ion-icon {
    font-size: 25px;
    line-height: 40px;
    margin-top: 6px;
}
ion-icon :before {
    content: "\f118";
}
.timeline .timeline-body {
    margin-left: 21%;
    position: relative;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    background: #fff;
    margin-top: 5px;
}
.timeline .timeline-body:before {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 15px;
}
.timeline-header {
    border-bottom: 1px solid #e0e0e0;
    line-height: 30px;
    padding: 15px 5px;
}
.timeline-header .placeimage {
    float: left;
    width: 55px;
    border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    margin: -11px 10px -2px 4px;
}
.timeline img.place {
    max-width: 100%;
    display: block;
    height: 53px;
    border-radius: 50% !important;
}
.timeline-header .placename,
.timeline-header .placename a {
    color: #00b7c3;
}
.timeline-header .placename {
    font-size: 18px;
    font-weight: bold;
}
.timeline-header .placeprice {
    color: #e81123;
    font-weight: bold;
    margin-right: 5px;
}
.timeline .timeline-body .timeline-content {
    padding: 0 8px;
}
.timeline-content:after,
.timeline-content:before {
    content: "";
    display: table;
    clear: both;
}
.content-info-place {
    text-align: justify;
    height: 80px;
    overflow: hidden;
    color: #3f3f3f;
}
.small_images .link_image {
    margin: 0px 7px 5px 0px;
}
.small_images img {
    margin-bottom: 4px;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.timeline .calculater-route-info {
    margin-left: 21%;
    position: relative;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    margin-top: 7px;
    height: 20px;
}
.timeline .calculater-route-info ion-icon {
    font-size: 24px;
    color: #ff8100;
    padding: 0px 3px;
}
.timeline .calculater-route-info span {
    position: absolute;
    line-height: 1.8;
    font-size: 13px;
    font-weight: bold;
    color: #596266;
}

/*hover*/
.nav > li > a {
    padding: 0px !important;
}
.nav > li > a:hover {
    background-color: #fff;
}

.nav > .active {
    background-color: #98ce44;
}
.nav > .active a span {
    color: #fff !important;
}
.nav > .active a:hover {
    background-color: #98ce44;
}
.btn-collapse {
    height: 1.8em;
    width: 1.8em;
    margin-top: -3px;
}

 
.custom-tour {
    color: #fff !important
}