/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #f5f5f5;
    color: #555;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: table;
    width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.clear {
    clear: both;
}
/* clear float */
.clearfix {
    zoom: 1;
}
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ------ HEADINGS ------ */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

h3 {
    font-size: 110%;
    margin-bottom: 30px;
}

/* -------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
    /* overflow: hidden; */
}

.box {
    padding: 1%;
}

.no-padding {
    padding: 0px 0px !important;
}
.no-padding-right {
    padding-right: 0px !important;
}
.no-padding-left {
    padding-left: 0px !important;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}

ul {
    margin: 0px;
    padding: 0px;
}
ul li a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 0px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
.footer-section {
    background: #fea200;
    position: relative;
    margin-top: 10px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: table-row;
    height: 60px;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    /* margin-bottom: 30px; */
    text-align: center;
}
.footer-logo a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 0px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
.footer-logo img {
    max-width: 230px;
    text-align: center;
    margin: -18px 1px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #000;
    line-height: 28px;
}

.footer-widget-heading h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 14px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}
.footer-widget-logo {
    display: flex;
    position: relative;
    margin-top: 20px;
}
.footer-widget-link {
    margin-left: 110px;
}
/* div.footer-widget a:visited {
  border-bottom: none;
} */
.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover {
    color: #ff5e14;
}
.footer-widget ul li a {
    color: #000;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.subscribe-form input {
    width: 100%;
    padding: 10px 20px;
    background: #dad5d5;
    border: 1px solid #ffffff;
}
.subscribe-form input:focus {
    outline: none;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 0px 12px;
    border: 1px solid #ff5e14;
    top: 0;
    height: 45px !important;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area {
    background: #d97d04;
    padding: 10px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #000;
}
.copyright-text p a {
    color: #421500;
    font-weight: bold;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a {
    color: #ff5e14;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.change-languge {
    color: #fff !important;
    font-size: 16px;
    margin-right: 10px;
    border: none !important;
}

@media (min-width: 1176px) {
    .footer-widget-logo {
        display: flex;
        position: relative;
        margin-top: 20px;
    }
    .footer-widget-link {
        margin-left: 110px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .footer-widget-logo {
        display: inline-block;
        position: relative;
        margin-top: 20px;
    }
    .footer-widget-link {
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .footer-widget-link {
        margin-left: 0px;
    }
}

@media (max-width: 768) {
    .footer-widget-logo {
        display: inline-block;
        position: relative;
        margin-top: 20px;
    }
    .footer-widget-link {
        margin-left: 0px;
    }
}
